.header {
  display: flex;
  align-items: center;
  padding: 0 40px;
  height: 95px;
  background-color: #484153;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid #B885F4;
  .logoWrapper {
    display: flex;
    align-items: center;
    margin-left: 20px;
    img {
      width: 65px;
      height: 65px;
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    ul {
      display: flex;
      align-items: center;
      margin-right: 20px;
      list-style-type: none;
      &:first-child {
        margin-left: 20px;
      }
      li {
        margin: 0 20px;
        a {
          margin: 0, 10px;
          color: #fff;
          text-decoration: none;
          font-size: 18px;
          font-weight: 600;
          &:hover {
            color: #B885F4;
            text-decoration: underline;

          }
        }
        &.active {
          a {
            color: #F3FB8C;
            font-size: 18px;
            font-weight:600;
          }
        }
      }
    }
  }
}
