.messageWrapper {
  display: flex;
  margin: 0.5rem 0;
  .avatar {
    margin-right: 10px;
    align-self: flex-end;
    &.isUnvisible {
      visibility: hidden;
    }
  }
  .message {
    display: flex;
    // flex-direction: column;
    padding: 1rem;
    border-radius: 1rem 2rem 2rem 0;
    background-color: #484153;
    max-width: 500px;
    color: black;
    position: relative;

    &.my {
      background-color: #b885f4;
    }

    .messageText {
      font-size: 1rem;
      line-height: 1.5;
      word-wrap: break-word;
    }

    .messageMeta {
      display: flex;
      justify-content: flex-end;
      align-self: flex-end;
      .timeAgo {
        font-size: 0.8rem;
        color: gray;
        margin-left: 1rem;
      }
    }
  }
}
