.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chatBoxTop {
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 75vh;
  overflow-y: auto;
  position: relative;
}

.box {
  padding: 20px;
}

.noConversation {
  height: 90vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 900;
    max-width: 60vh;
    color: #ccc;
  }
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  background-color: teal;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}