.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
  width: 100%;
  background-color: #120428;
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  .alertWrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 11;
    &.alertOpen {
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
    .alert {
      width: 50%;
    }
  }
}

.box {
  margin: 10px;
  height: 100%;
  padding: 20px 0;
}