.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
  width: 100%;
  background-color: #120428;
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
}

.box {
  margin: 10px;
  height: 100%;
  padding: 20px 0;
}