@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.content {
    margin-top: 60px;
}

.MuiPaper-root-MuiDialog-paper {
    width: 100% !important;       
}