.moveWrapper {
  position: relative;
  display: flex;
  &.my {
    align-self: flex-end;
  }
  .avatar {
    height: 100%;
    align-self: center;
  }
  .moveBox {
    display: flex;
    background-color: #484153;
    align-items: center;
    padding: 0.8rem;
    margin-left: 0.8rem;
    align-self: start;
    border-radius: 1rem 1rem 1rem 0;
    margin-bottom: 1.2rem;
    position: relative;
    &.myBox {
      background-color: #b885f4;
    }
    .message {
      margin: 0.6rem 1rem 0.6rem;
      font-size: 1.2rem;
    }
    .date {
      align-self: flex-end;
      justify-self: flex-end;
    }
  }
}
