$col1: #000000;
$col2: #0E1014;
$col3: #1A1E28;
$col4: #F3FB8C;
$col5: #5751D7;
$col6: #B885F4;

.formField{
    padding: 50px !important;
}

.loginTitle {
    font-size: 20px;
    color: $col5;
    text-align: center;
    text-transform: uppercase;
}

.registerLink{
    color: #fff !important;
    &:hover{
        color: $col4 !important;
    }
    &:active{
        color: $col5 !important;
    }

}

.textField{
    background-color: $col1 !important;
    border-radius: 5px;
}
.bottomLink{
    justify-content: center;
}
.lrlogo{
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
  }