.wrapper {
  display: flex;
  flex-direction: column;
  &.submitted {
    margin-bottom: 2.4rem;
  }
  .riddler {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin: 0.8rem 1.2rem;
    color: white;
    p {
      font-size: 1.2rem;
      span {
        color: #f3fb8c;
      }
    }
  }
  .winner {
    position: relative;
    width: 100%;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    p {
      font-size: 1.2rem;
      color: #f3fb8c;
      position: absolute;
    }
  }
  .submitArea {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 100%;
    padding: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      color: white;
    }
  }
}
